.block-element {
  width: 200px;
  height: 200px;
  font-size: 45px;
  color: rgb(243, 185, 185);
}

.block-element_first {
  background-color: red;
  position: absolute;
  right: 0;
}

.block-element_second {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%) translateY(-50%); */
  transform: translate(-50%, -50%)
}

.block-element_last:nth-child(even) {
  background-color: yellow;

}
.block-element_last {
  position: relative;
  height: 400px;
  right: 0;
  bottom: 0;
  background-color: aqua;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  width: 40px;
  height: 40px;
  background-color: #1e3799;
  font-size: 10px;
  cursor: pointer;
}

div::before {
  content: '';
  display: block;
  width: 300px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 100%;
  transform-origin: left;
  transform: translateY(-50%) scaleX(0);

  transition: transform 300ms linear;
}

div:hover {
  background-color: red;
}

div:hover::before {
  transform: translateY(-50%) scaleX(1);
}
















