.menu {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('menu.png');
  background-size: cover;
  text-indent: -9999px;
  cursor: default;
}

input {
  display: none;
}

input:checked + .menu + #menu {
  opacity: 1;
  transform: translateX(0);
  transition: 1s transform cubic-bezier(.25,1.73,.8,1.98), 2s opacity linear;
}

#menu {
  width: 300px;
  transition: 500ms transform linear, 500ms opacity linear;
  background-color: brown;
  transform: translateX(-100%);
  opacity: 0;
}

a {
  color: white;
}